mixin start()
  +b.SECTION.start
    +e.DIV.container
      +e.H1.title Discover the world of awesome <span>free PSD templates</span>
      +e.DIV.form
        +b.FORM.start-form
          +e.INPUT.email(placeholder="EMAIL", type="email")
          +e.INPUT.pass(placeholder="PASSWORD", type="password")
          +e.BUTTON.btn(type="submit") Register
